# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [ ]:
Could not get jupyter notebook to work with pandas so this is how I did it in IPython (Spyder)

import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [ ]:
drinks = pd.read_csv('drinks.txt', sep='\\t')

### Step 4. Which continent drinks more beer on average?

In [ ]:
drinks.groupby(['continent'])['total_litres_of_pure_alcohol'].count()
Out[137]: 
continent
AF    53
AS    44
EU    45
OC    16
SA    12
Name: total_litres_of_pure_alcohol, dtype: int64
        
        ... so Africa

### Step 5. For each continent print the statistics for wine consumption.

In [ ]:
print(drinks.groupby(['continent'])['wine_servings'].count())
continent
AF    53
AS    44
EU    45
OC    16
SA    12
Name: wine_servings, dtype: int64

### Step 6. Print the mean alcoohol consumption per continent for every column

In [ ]:
print(drinks.groupby(['continent']).mean())
           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...                              
AF             61.471698  ...                      3.007547
AS             37.045455  ...                      2.170455
EU            193.777778  ...                      8.617778
OC             89.687500  ...                      3.381250
SA            175.083333  ...                      6.308333

[5 rows x 4 columns]

### Step 7. Print the median alcoohol consumption per continent for every column

In [ ]:
print(drinks.groupby(['continent']).median())
           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...                              
AF                  32.0  ...                          2.30
AS                  17.5  ...                          1.20
EU                 219.0  ...                         10.00
OC                  52.5  ...                          1.75
SA                 162.5  ...                          6.85

[5 rows x 4 columns]

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [ ]:
spirits=pd.DataFrame({'mean': [drinks['spirit_servings'].mean()], 'min':[drinks['spirit_servings'].min()],'max':[drinks['spirit_servings'].max()]})

spirits
Out[168]: 
        mean  min  max
0  80.994819    0  438