# Fictional Army - Filtering and Sorting

### Introduction:

This exercise was inspired by this [page](http://chrisalbon.com/python/)

Special thanks to: https://github.com/chrisalbon for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. This is the data given as a dictionary

In [4]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

### Step 3. Create a dataframe and assign it to a variable called army. 

#### Don't forget to include the columns names

In [ ]:
army = pd.DataFrame(raw_data)

### Step 4. Set the 'origin' colum as the index of the dataframe

In [ ]:
army=army.set_index('origin')

### Step 5. Print only the column veterans

In [ ]:
army['veterans']
Out[59]: 
origin
Arizona         1
California      5
Texas          62
Florida        26
Maine          73
Iowa           37
Alaska        949
Washington     48
Oregon         48
Wyoming       435
Louisana       63
Georgia       345
Name: veterans, dtype: int64

### Step 6. Print the columns 'veterans' and 'deaths'

In [ ]:
print(army[['veterans', 'deaths']])
            veterans  deaths
origin                      
Arizona            1     523
California         5      52
Texas             62      25
Florida           26     616
Maine             73      43
Iowa              37     234
Alaska           949     523
Washington        48      62
Oregon            48      62
Wyoming          435      73
Louisana          63      37
Georgia          345      35

### Step 7. Print the name of all the columns.

In [ ]:
print(army.columns)
Index(['regiment', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters'],
      dtype='object')

### Step 8. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

In [ ]:
army.loc[['Maine','Alaska']][['deaths','size','deserters']]
Out[77]: 
        deaths  size  deserters
origin                         
Maine       43  1592          3
Alaska     523   987         24

### Step 9. Select the rows 3 to 7 and the columns 3 to 6

In [ ]:
army.iloc[2:7,2:6]
Out[88]: 
         deaths  battles  size  veterans
origin                                  
Texas        25        2  1099        62
Florida     616        2  1400        26
Maine        43        4  1592        73
Iowa        234        7  1006        37
Alaska      523        8   987       949

### Step 10. Select every row after the fourth row

In [ ]:
army.iloc[4:,:]
Out[91]: 
            regiment company  deaths  ...  readiness  armored  deserters
origin                                ...                               
Maine       Dragoons     1st      43  ...          2        0          3
Iowa        Dragoons     1st     234  ...          1        1          4
Alaska      Dragoons     2nd     523  ...          2        0         24
Washington  Dragoons     2nd      62  ...          3        1         31
Oregon        Scouts     1st      62  ...          2        0          2
Wyoming       Scouts     1st      73  ...          1        0          3
Louisana      Scouts     2nd      37  ...          2        1          2
Georgia       Scouts     2nd      35  ...          3        1          3

[8 rows x 9 columns]

### Step 11. Select every row up to the 4th row

In [ ]:
army.iloc[:4,:]
Out[92]: 
              regiment company  deaths  ...  readiness  armored  deserters
origin                                  ...                               
Arizona     Nighthawks     1st     523  ...          1        1          4
California  Nighthawks     1st      52  ...          2        0         24
Texas       Nighthawks     2nd      25  ...          3        1         31
Florida     Nighthawks     2nd     616  ...          3        1          2

[4 rows x 9 columns]

### Step 12. Select the 3rd column up to the 7th column

In [ ]:
army.iloc[:,2:7]
Out[93]: 
            deaths  battles  size  veterans  readiness
origin                                                
Arizona        523        5  1045         1          1
California      52       42   957         5          2
Texas           25        2  1099        62          3
Florida        616        2  1400        26          3
Maine           43        4  1592        73          2
Iowa           234        7  1006        37          1
Alaska         523        8   987       949          2
Washington      62        3   849        48          3
Oregon          62        4   973        48          2
Wyoming         73        7  1005       435          1
Louisana        37        8  1099        63          2
Georgia         35        9  1523       345          3

### Step 13. Select rows where df.deaths is greater than 50

In [ ]:
army[army['deaths']>50]
Out[96]: 
              regiment company  deaths  ...  readiness  armored  deserters
origin                                  ...                               
Arizona     Nighthawks     1st     523  ...          1        1          4
California  Nighthawks     1st      52  ...          2        0         24
Florida     Nighthawks     2nd     616  ...          3        1          2
Iowa          Dragoons     1st     234  ...          1        1          4
Alaska        Dragoons     2nd     523  ...          2        0         24
Washington    Dragoons     2nd      62  ...          3        1         31
Oregon          Scouts     1st      62  ...          2        0          2
Wyoming         Scouts     1st      73  ...          1        0          3

[8 rows x 9 columns]

### Step 14. Select rows where df.deaths is greater than 500 or less than 50

In [ ]:
army[(army['deaths']>500)| (army['deaths']<50)]
Out[101]: 
            regiment company  deaths  ...  readiness  armored  deserters
origin                                ...                               
Arizona   Nighthawks     1st     523  ...          1        1          4
Texas     Nighthawks     2nd      25  ...          3        1         31
Florida   Nighthawks     2nd     616  ...          3        1          2
Maine       Dragoons     1st      43  ...          2        0          3
Alaska      Dragoons     2nd     523  ...          2        0         24
Louisana      Scouts     2nd      37  ...          2        1          2
Georgia       Scouts     2nd      35  ...          3        1          3

[7 rows x 9 columns]

### Step 15. Select all the regiments not named "Dragoons"

In [ ]:
army[~(army['regiment']=='Dragoons')]
Out[105]: 
              regiment company  deaths  ...  readiness  armored  deserters
origin                                  ...                               
Arizona     Nighthawks     1st     523  ...          1        1          4
California  Nighthawks     1st      52  ...          2        0         24
Texas       Nighthawks     2nd      25  ...          3        1         31
Florida     Nighthawks     2nd     616  ...          3        1          2
Oregon          Scouts     1st      62  ...          2        0          2
Wyoming         Scouts     1st      73  ...          1        0          3
Louisana        Scouts     2nd      37  ...          2        1          2
Georgia         Scouts     2nd      35  ...          3        1          3

[8 rows x 9 columns]

### Step 16. Select the rows called Texas and Arizona

In [ ]:
army.loc[['Texas','Arizona']]
Out[109]: 
           regiment company  deaths  ...  readiness  armored  deserters
origin                               ...                               
Texas    Nighthawks     2nd      25  ...          3        1         31
Arizona  Nighthawks     1st     523  ...          1        1          4

[2 rows x 9 columns]

### Step 17. Select the third cell in the row named Arizona

In [ ]:
army.loc[['Arizona']][[army.columns[2]]]
Out[117]: 
         deaths
origin         
Arizona     523

...this really feels wrong. Is this the correct way?

### Step 18. Select the third cell down in the column named deaths

In [ ]:
army['deaths'].iloc[[2]]
Out[128]: 
origin
Texas    25
Name: deaths, dtype: int64